<div class='col-md-6 text-center'>
  <h3>{{event_title}}</h3>
  <h4>{{event_subtitle}}</h4>
  <div id="{{id}}" class="carousel slide" data-ride="carousel">
    {{!-- Indicators --}}
    <ol class="carousel-indicators">
      {{#each image_urls}}
        {{#if @first}}
        <li data-target="#{{../id}}" data-slide-to="{{@index}}" class="active"></li>
        {{else}}
        <li data-target="#{{../id}}" data-slide-to="{{@index}}"></li>
        {{/if}}
      {{/each}}
    </ol>
    {{!-- Wrapper for slides --}}
    <div class="carousel-inner">
      {{#each image_urls}}
        {{#if @first}}
        <div class="item active">
          <img src="{{this}}"/>
        </div>
        {{else}}
        <div class="item">
          <img src="{{this}}"/>
        </div>
        {{/if}}
      {{/each}}
    </div>
    {{!-- Controls --}}
    <a class="left carousel-control" href="#{{id}}" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#{{id}}" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>{{!-- Carousel --}}
</div>{{!-- col-md-6 --}}
